
body{
    background: linear-gradient(-90deg, red,tomato)
    
}
#container {
    background-color: aliceblue;
    width: 50vw;
    height: 85vh;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
}

#boxes{
    display: flex;

}